.btnBox{
    display: flex;
    box-sizing: border-box;
    padding: 30px 20px 0 20px;
}


.inputMail {
    margin-left: 1.5vw;
    margin-top: 3.3vh;
    padding: 3px;
}

#templateSelectBox {
    display: flex;
    padding: 5px;
	align-items: center;
}
