.mailing_list{
    padding: 0;
    margin: 0;
    display: flex;
}

.mailList_section {
    width: 25%;
    display: flex;
    flex-direction: column;
   
}
.mailList_name {
    width: 80%;
    color: white;
    padding: 10px;
}
.mailing_list_arr{
    width: 30%;
    padding: 15px;
    display: flex;
    
}
.mailing_list_arr:hover {
    font-size: 25px;
   color: white;
   
}
.mailList_section > div {
    display: flex;
    width: 85%;  
    position: relative;
}

.mailList_name:hover{
   font-size: 25px;
   color: white;
   
}

.mailing_info{
    width: 80%;
}

.mailing_list_del{
    color: rgb(184, 178, 178);
    width: 30%;
    justify-content: center;
    display: flex;
    padding: 15px;
}
.mailing_list_del:hover{
    font-size: 25px;
   color: white;
}