.form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    color: grey;
    text-align: center;
    z-index: 99;
    background-color:white;
    opacity: 0.9;
    border-radius: 7px;
    padding-bottom: 10px;
  }