.mainDiv {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #021323;
    align-items: center;
    justify-content: center;
}
.mainButton, .contacts, .mailingList, .otherBtns {
    padding: 0;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    color: white;
    outline: none;
}
.mainButton {
    height: 150px;
    width: 150px;
    border: 5px solid white;
    background-color: #021323;
    font-size: 250%;
    z-index: 9999;
    font-family: serif;
    animation: shadow 1.4s infinite alternate;
    cursor: pointer;
}
.mailingList, .contacts, .otherBtns {
    display: none;
    height: 75px;
    width: 75px;
    border: 4px solid white;
    background-color: transparent;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.mailingList, .contacts {
    font-size: 200%;
}
.otherBtns {
    font-size: 150%;
}
.mainA {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}
#iconColor {
    color: white;
    margin: auto
}
@keyframes shadow {
    from {
        box-shadow: 0 0 10px 10px white;
    }
    to {
        box-shadow: 0 0 40px 10px white;
        text-shadow: 0 0 25px white;
    }
}
@keyframes move1 {
    to {
        transform: translate(135px, -135px);
        box-shadow: 0 0 30px 10px white;
        text-shadow: 0 0 25px white;
    }
}
@keyframes move2 {
    to {
        transform: translate(180px, 0px);
    }
}
@keyframes move3 {
    to {
        transform: translate(135px, 135px);
    }
}
@keyframes move4 {
    to {
        transform: translate(0px, 180px);
    }
}
@keyframes move5 {
    to {
        transform: translate(-135px, 135px);
        box-shadow: 0 0 30px 10px white;
        text-shadow: 0 0 25px white;
    }
}
@keyframes move6 {
    to {
        transform: translate(-180px, 0px);
    }
}
@keyframes move7 {
    to {
        transform: translate(-135px, -135px);
    }
}
@keyframes move8 {
    to {
        transform: translate(0px, -180px);
    }
}