.menu{
    list-style-type: none;
    width:14%;
    background-color:transparent;
    overflow: hidden;
    display: flex;
    justify-content:center;
    /* height: 90%; */
    float:left;
    box-shadow:  -1px 18px 25px 0px rgba(126,161,137,1);
    height: 60vh;
	/* position:fixed; */
    top:10%;
    margin: 1%;
    background: white;
    border-radius: 10px
}
.menu_btn{
    padding: 10px;
}
.menu_item{
	text-decoration: none;
    color: azure;
    font-size: 1.1em;
	width:100%;
    text-align: left;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    cursor: pointer;
    transition: .5s ;
    box-shadow: 2px solid grey;
}


.list_menu{
	text-decoration: none;
    list-style-type: none;
    width: 100%;
}

/* @media (max-width:866px) {

    .menu{
        display: none;
    }
} */