.menu{
    display: flex;
    list-style-type: none;
    width: 93%;
    overflow: hidden;
    border-radius: 30px;
    margin-left: 1%;
    padding: 1%;
    justify-content: flex-end
}
.menu_btn{
    height: 35px;
    padding: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: auto 0 auto 10px;
}
.menu_btn > a {
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 40px;
}
.menu_item{
	text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: .5s ;
    box-shadow: 2px solid grey;
}
.list_menu{
    display: flex;
	text-decoration: none;
    list-style-type: none;
    width: 100%;
}
.disabled-link {
    pointer-events: none;
}

/* @media (max-width:866px) {

    .menu{
        display: none;
    }
} */