.menu{
    list-style-type: none;
    width: 93%;
    /* background-color: transparent; */
    overflow: hidden;
    /* border: 2px solid white; */
    /* box-shadow: 0px -1px 31px -6px rgba(245, 242, 242, 0.75); */
    border-radius: 30px;
    margin-left: 1%;
    padding: 1%;
}

.menu_btn{
    padding: 10px;
}
.menu_item{
	text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: .5s ;
    box-shadow: 2px solid grey;
}


.list_menu{
    display: flex;
	text-decoration: none;
    list-style-type: none;
    width: 100%;
}

/* @media (max-width:866px) {

    .menu{
        display: none;
    }
} */