.btn-standart{
    position: relative;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid RoyalBlue;
    background: CornflowerBlue;
    border-radius: 4px;
    margin: 10px;
}
.top {
    position: absolute;
    
    width: 125px;
    height: 50px;
    background: #00AE68;
    z-index: 10;
    transition: all 0.2s ;
    border-radius: 5px;
  }
  
  .btnSlide.btnBlueGreen .top {
    background: #00AE68;
  }
  
 
  .btnSlide .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 50px;
    color: #000;
    z-index: 5;
    transition-duration: 2s;
    transition: .3s;
    border-radius: 5px;
  }
  
  .btnSlide:hover .top {
    top: 80px;
  }
  
  
  