
  .CB1{
    border: 2px solid #fbfbfb;
    width: 12%;
    color: white;
    background: #021323;
    border-radius: 40px;
    margin-left: 10px;
    /* box-shadow: 0 4px black; */
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .popupBtn{
    padding: 5px;
    width: 40%;
  }
  .CB1:hover{
    color: black;
    box-shadow: -3px 2px 31px -7px rgba(248, 248, 248, 0.75);
    background: linear-gradient(to bottom, rgb(237, 240, 241) 0%, rgba(237, 240, 241) 50%, rgba(237, 240, 241) 51%, rgba(237, 240, 241) 100%);
  }
  
  .CB1:active{
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }